<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>SimpleCalorieApp</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://unpkg.com/@angular/material/prebuilt-themes/indigo-pink.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <script>
    (function(window) {
      window.__env = window.__env || {};
      window.__env.email = '<%- user.email %>';
      window.__env.role = '<%- user.role %>';
      window.__env.dailyLimit = '<%- user.dailyLimit %>';
    }(this));
  </script>
</head>
<body>
  <app-root></app-root>
</body>
</html>
